
*{
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    margin-bottom: -9px;
}
p{
    margin:0;
    padding:0;
}
a { 
    color:gold;   
    text-decoration: none;
}

table{
    border:solid black 2px;
    background-color: rgb(32, 195, 240);
}
td {font-size: 40px;
    text-align: center;
    background-clip:content-box;
    border-radius: 50%;
    background-color: orange;
    border: solid gold 2px;
    height: 52px;
    width: 60px;
}
li {
    font-size:13px;
    font-weight:bold;
}
footer p {
    font-size: 10px;
}

