
* {
    font-family:'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    margin-bottom: -9px;
}
p {
    margin:0;
    padding:0;
}
a { 
    color:gold;   
    text-decoration: none;
}

table {
    border:solid black 3px;
    background-color: rgb(32, 195, 240);
}
td {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    border: solid blue 2px;
    height: 52px;
    width: 60px;
}
li {
    font-size:17px;
    font-weight:bold;
}
.formulaire {
    box-shadow:5px 5px 5px gray;
}
footer p {
    font-size: 10px;
}
.wellplaced{
    display:block;
}
/*.unexistent{
    display:none;
}*/
.misplaced{
    background-clip:content-box;
    border-radius: 50%;
    background-color: orange;
}
